@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model GroopWebApp.ViewModels.DashboardViewModel

<h1 style="font-family:'roboto',sans-serif" class="text-success my-2 display-4 fw-normal">@User.Identity.Name</h1>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Club" asp-action="Create">Create Club</a>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Race" asp-action="Create">Create Race</a>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">Edit User Profile</a>
<div class="album py-5 bg-light rounded mt-2">
    <div class="container">
        @if(Model.Races != null && Model.Races.Any()){
        <h4 style ="font-family:'roboto',sans-serif" class="text-secondary fw-normal">Your Races</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Races)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                                   class="rounded btn btn-sm btn-outline-info">View</a>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id" class="rounded mx-2 btn btn-sm btn-outline-success">Edit</a>
                                        <a asp-controller="Race" asp-action="Delete" asp-route-id="@item.Id" class="rounded btn btn-sm btn-outline-danger">Delete</a>
                                    }
                                </div>
                                <small class="text-muted">@item.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
        @if(Model.Clubs != null && Model.Clubs.Any())
        {
        <h4 style ="font-family:'roboto',sans-serif" class="text-secondary fw-normal">Your Clubs</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model.Clubs)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                                   class="rounded btn btn-sm btn-outline-info">View</a>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" class="rounded mx-2 btn btn-sm btn-outline-success">Edit</a>
                                        <a asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" class="rounded btn btn-sm btn-outline-danger">Delete</a>
                                    }
                                </div>
                                <small class="text-muted">@item.ClubCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        }
        @if(Model.Clubs.Count()==0 && Model.Races.Count()==0 || Model.Clubs==null && Model.Races==null)
        {
            <h4 class="text-dark text-center" style="font-family:'roboto',sans-serif">We are sorry, you don't own any Club/Race, please create <a class="text-decoration-none" asp-area="" asp-action="Create" asp-controller="Club">Club</a> or 
            <a class="text-decoration-none" asp-area="" asp-action="Create" asp-controller="Race">Race</a>, Thank you! </h4>
        }
    </div>
</div>