@model Club
<div class="container bg-light p-4 rounded mt-3">

    <h1 class="my-4 text-dark">@Model.Title
    </h1>
  
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="@Model.Image" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3 text-dark">Description</h3>
        <p class="text-secondary">@Model.Description</p>
        <h3 class="my-3 text-dark">Location</h3>
          <p class="text-secondary">City: @Model.Address.City</p>
          <p class="text-secondary">State: @Model.Address.State</p>
          <p class="text-secondary">ClubCategory: @Model.ClubCategory</p>
      </div>
  
    </div>
  </div>
  <!-- /.container -->
  