@model IEnumerable<Club>
@if(TempData["SuccessClub"]!=null)
{
  <div id="message-success" class="alert alert-success position-fixed top-0 start-50 translate-middle-x">
    <span><b>Congratulations! </b>@TempData["SuccessClub"] </span>
  </div>
}
@if(TempData["DeleteClub"]!=null)
{
  <div id="message-success" class="alert alert-success position-fixed top-0 start-50 translate-middle-x">
    <span>@TempData["DeleteClub"] </span>
  </div>
}
@if(TempData["EditClub"]!=null)
{
  <div id="message-success" class="alert alert-success position-fixed top-0 start-50 translate-middle-x">
    <span>@TempData["EditClub"] </span>
  </div>
}
     <div class="album py-5 bg-light rounded mt-3">
        <div class="container">
          <div class="row">
            
        @if(Model.Any())
        {
            @foreach(var item in Model)
            {
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">@item.Title</p>
                     <p class="card-text">@item.Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a asp-controller="club" asp-action="Detail" asp-route-id="@item.Id" type="btn btn-success" class="rounded btn btn-sm btn-outline-info">View</a>
                      @if(User.Identity.IsAuthenticated && item.AppUserId == User.GetUserId() || User.IsInRole("admin"))
                      {
                      <a asp-controller="club" asp-action="Edit" asp-route-id="@item.Id" type="btn" class="rounded mx-2 btn btn-sm btn-outline-success">Edit</a>
                      <a asp-controller="club" asp-action="Delete" asp-route-id="@item.Id" type="btn" class="rounded btn btn-sm btn-outline-danger">Delete</a>
                      }
                    </div>
                    <small class="text-muted">@item.ClubCategory</small>
                  </div>
                </div>
              </div>
            </div>
            }
          }
          else {
              <h1 class="fw-light">
                There are no running clubs in your area! You can <a asp-area="" asp-controller="Club"
                                                          asp-action="Create" style="text-decoration: none;">create</a> your own right now!
              </h1>
          }
            </div>
        </div>
    </div>
            